/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
.DS_Store
.parcel-cache/
dist/dist/
dist/dist/index.28bc3d09.js.map
dist/dist/index.28bc3d09.js
dist/app.js
