/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
.DS_Store
.parcel-cache/
*/.DS_Store
src/App/State.purs
**/*.agdai
**/*.*~
.vscode/settings.json
.vscode/tasks.json

node_modules
dist
.cache