# app
/app/

# dist
/dist/

# misc
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/.DS_Store
/.parcel-cache/
/*/.DS_Store
/**/*.agdai
/**/*.*~
/.vscode/settings.json
/.vscode/tasks.json
/.cache
/package-lock.json