html {
  user-select: none;
  margin: 0;
  padding: 0;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  font-family: monospace;
  line-height: 14pt;
  font-size: 12pt;
  height: 100vh;
  padding: 0;
}

.editor {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* program */

.program {
  max-width: calc(100vw - 300px - 10px);
  height: 100%;
  overflow-x: scroll;
}

/* panel */

.panel {
  position: absolute;
  right: 0;
  min-width: 300px;
  height: 100%;
  overflow: wrap;

  box-shadow: -1px 0 0 0 black;
}

.panel .header  {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16pt;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
}

.environment {
  padding: 8px;
}
.context {

}
.context-datas {
}
.context-data {
  display: block;
  margin-bottom: 4px;
}
.context-varTypes {}
.context-varType {
  display: block;
  margin-bottom: 4px;
}
.environment-divider {
  margin-top: 4px;
  /* border-top: 1px solid black; */
  height: 2px;
  background-color: black;
  margin-bottom: 4px;
}
.goal {
  
}

.palette {
  border-top: 1px solid black;
  padding: 8px;
}
.action {
  display: block;
}

/* syntax */

.hole-container {
  box-shadow: 0 0 0 2px goldenrod;
}

.Hole {
}

/* token */

.token {
  white-space: pre;
}

.token.delimiter {
  color: purple;
}

/* name */

/* separator */

/* selected node */

.node.selected {
  background-color: rgb(149, 195, 213);
  
  box-shadow: -2px 0 0 0 white;
  
  /* box-shadow: 0 0 0 10px solid white; */
  /* border-left: 4px solid black; */
  /* box-shadow: -4px 0 0 0 black; */

  /* border-left-color: white;
  border-left-width: 2px; */
}

.node.selected {
  animation-name: blink-animation;
  animation-duration: 1s;
  animation-timing-function: steps(2, start);
  animation-delay: 0;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes blink-animation {
  from {
    box-shadow: -2px 0 0 0 white;
  }
  to {
    box-shadow: -2px 0 0 0 black;
  }
}

/* @-webkit-keyframes blink-animation {
  to {
    box-shadow: -2px 0 0 0 white, -6px 0 0 0 black;
  }
} */

.highlighted {
  background-color: rgb(215, 215, 215);
}

.node.selected.highlighted {
  background-color: rgb(116, 173, 196);
}

/* token */

.token {
  font-weight: bold;
}

/* indentation */

.token {
  white-space: pre;
}

.indentation {
  white-space: pre;
}

.name {
  white-space: pre;
  /* box-shadow: 0 -1px 0 0 gray inset; */
}

/* misc */

.span {
  display: inline-block;
}

/* query */

.query {
  display: inline-block;
}
.query-text {
  display: inline-block;
  font-style: italic;
}
.query-sep {
  font-style: italic;
}
.query-context {
  /* position: relative; */
  position: absolute;
  margin-top: 20px;
  margin-left: -2px;
  display: block;
  background-color: rgb(200, 200, 200);
  /* box-shadow: 0 0 0 2px black; */
  border: 2px solid black;
  /* margin- */
}
.query-context-item {
  display: block;
}
.query-context-item.selected {
  background-color: lightblue;
}
.query-no-matches {
  color: crimson;
}