html {
  user-select: none;
  margin: 0;
  padding: 0;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* left: -10px; */
  /* margin: 20px; */
  /* padding: 10px; */
  
  font-family: monospace;
  line-height: 14pt;
  font-size: 12pt;
}

.editor {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* program */

.program {
  position: absolute;
  width: calc(100vw - 300px - 40px);
  height: 100vh;
  overflow-x: scroll;
  overflow-y: scroll;
  margin: 0;
  padding: 10px;
}

/* panel */

.panel {
  position: absolute;
  right: 6px;
  /* width: 300px; */
  height: 100%;
  /* overflow-x: wrap; */
  /* overflow-y: scroll; */
  box-shadow: -1px 0 0 0 black;
}

.header  {
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16pt;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 12px;
}

.environment {
  padding: 8px;
  height: calc(50vh - 16px);
}
.context {
  padding: 2px;
  max-height: calc(50vh - 16px - 16pt - 44px);
  overflow-y: scroll;
}
.context-datas {

}

.context-item {
  display: inline-block;
  box-shadow: 0 0 0 1px black;
  /* border-radius: 10px; */
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 2px 6px;

  cursor: pointer;
}
.context-item:hover {
  background-color: rgb(193, 206, 232);
  box-shadow: 0 0 0 2px black;
}

.context-data-wrapper {
  display: block;
}
.context-data {
}
.context-data:hover {
}
.context-varTypes {

}
.context-varType-wrapper {
  display: block;
}
.context-varType {
}
.environment-divider {
  margin-top: 4px;
  height: 2px;
  background-color: black;
  margin-bottom: 4px;
}
.goal-wrapper {
  
}
.goal {
  
}

.palette {
  border-top: 1px solid black;
  padding: 8px;
}


.actions-wrapper {
  /* overflow-y: scroll; */
  padding: 2px;
  height: calc(50vh - 58px);
}
.actions {
  overflow-x: visible;
  width: 250px;
}
.action {
  display: block;
  position: relative;
  box-shadow: 0 0 0 1px black;
  border-radius: 4px;
  margin-bottom: 10px;
  /* padding: 4px 8px; */
  padding: 2px 6px;

  cursor: pointer;
}
.action:hover {
  background-color: rgb(193, 206, 232);
  box-shadow: 0 0 0 2px black;
}
.action-label {
  display: inline-block;
  /* float: left; */
}
.action-triggers {
  display: block;
  float: right;
}
.action-trigger {
  display: block;
  /* border-radius: 4px; */
  /* padding: 0 4px; */
  /* box-shadow: 0 0 0 1px black; */
}
.action-tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid rgb(45, 45, 45);
  /* color: blue; */
  color: rgb(45, 45, 45);
  border-radius: 4px;
  padding: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  display: none;
  margin-left: -312px;
  margin-top: -22px;
  width: 270px;
}
.action:hover .action-tooltip {
  display: block;
}
.action-tooltip > .example {
  display: block;
  margin-top: 4px;
  padding: 8px 8px;
  border-radius: 4px;
  background-color: rgb(188, 188, 188);
}
.action-tooltip > .example > .metacode {
  display: inline-block;
  color: green;
  font-weight: bold;
  margin: 0 10px;
}
.action-tooltip > .example > .code {
  display: inline-block;
  color: black;
  font-family: monospace;
}



/* syntax */

.hole-container {
  box-shadow: 0 0 0 4px rgb(197, 91, 14);
  /* border-radius: 10px; */
  border-radius: 4px;
  /* padding: 4px 4px; */
}

.Hole {
}
.HoleType {
  color: rgb(164, 97, 49);
  font-weight: bold;
}

/* token */

.token {
  white-space: pre;
}

.token.delimiter {
  color: purple;
}

/* name */

/* separator */

/* selected node */

.node.selected {
  background-color: rgb(149, 195, 213);
  
  box-shadow: -2px 0 0 0 white;
  
  /* box-shadow: 0 0 0 10px solid white; */
  /* border-left: 4px solid black; */
  /* box-shadow: -4px 0 0 0 black; */

  /* border-left-color: white;
  border-left-width: 2px; */
}

.node.selected {
  animation-name: blink-animation;
  animation-duration: 1s;
  animation-timing-function: steps(2, start);
  animation-delay: 0;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes blink-animation {
  from {
    box-shadow: -2px 0 0 0 white;
  }
  to {
    box-shadow: -2px 0 0 0 black;
  }
}

/* @-webkit-keyframes blink-animation {
  to {
    box-shadow: -2px 0 0 0 white, -6px 0 0 0 black;
  }
} */

.highlighted {
  background-color: rgb(215, 215, 215);
}

.node.selected.highlighted {
  background-color: rgb(116, 173, 196);
}

/* token */

.token {
  font-weight: bold;
}

/* indentation */

.token {
  white-space: pre;
}

.indentation {
  white-space: pre;
}

.name {
  white-space: pre;
  /* box-shadow: 0 -1px 0 0 gray inset; */
}

/* misc */

.span {
  display: inline-block;
}

/* query */

.query {
  display: inline-block;
}
.query-text {
  display: inline-block;
  font-style: italic;
}
.query-sep {
  /* font-style: italic; */
}
.query-context {
  /* position: relative; */
  position: absolute;
  margin-top: 20px;
  margin-left: -2px;
  display: block;
  background-color: rgb(200, 200, 200);
  /* box-shadow: 0 0 0 2px black; */
  border: 2px solid black;
  /* margin- */
}
.query-context-item {
  display: block;
}
.query-context-item.selected {
  background-color: lightblue;
}
.query-no-matches {
  color: crimson;
}

/* tooltips */

/* .action-tooltip {

  position: relative;
  float: left;
  height: 0;
  overflow: visible;

  display: block;

  background-color: rgb(243, 243, 243);
  border: 1px solid black;
  width: 250px;
  padding: 4px;
  border-radius: 4px;
  font-style: italic;

  transition-duration: 0.5s;
  transition-property: all;

  margin-top: -5px;
  opacity: 0;
}

.action:hover .action-tooltip {
  margin-top: 2px;
  opacity: 1;
  height: auto;
} */


/* .action-tooltip {
  font-style: italic;
  overflow: hidden;
  margin: 0 10px;
  margin-top: 4px;

  transition-duration: 0.2s;
  transition-property: max-height;
  transition-timing-function: ease-in-out;

  max-height: 0;
}

.action:hover .action-tooltip {
  max-height: 400px;
}
 */
